
          html                         /*tyle for the html*/
            {
            	height:70%;
            }

        #homePage
        {
			background-color: white;
			position: fixed;
			height: 70%;
			width: 100%;


		}


		#logoDiv
		{
			position: absolute;
			background-color: white;
			right: 45%;
			top:10px;
			opacity: 0.5;
		}
	  
	    .image
	    {

	    	      position: absolute;
                  left:-10px;
                  margin-right: auto;
                  top:-26px;


	    }
	    .logo
	    {
	    	      position: absolute;
                  right:10px;
                  margin-right: auto;
                  top:-26px;

       

	    }

	    .slidetitle
		{
			position: absolute;
			display:block;
			text-align:center;
			left: 20%;
			height: 20%;
			width:40%;
            font-size: 200%;
			margin-left:-10%;
			color: LightSlateGray;
			opacity: 0.9;

		}

		.getMarks
		{
			position: absolute;
			display:block;
			text-align:center;
			right: -3%;
			top:6%;
			height: 20%;
			width:40%;
            font-size: 100%;
			color: black;
			opacity: 0.9;
		}

        .password
		{
			position: absolute;
			display:block;
			text-align:center;
			right: 2%;
			top:13%;
			height: 20%;
			width:40%;
            font-size: 100%;
			color: black;
			opacity: 0.9;
		}



		.input
		{
			
			position: absolute;
			display:block;
			text-align:center;
			right: 3%;
			top:5%;
			height: 5%;
			width:10%;
            font-size: 100%;
			color: black;
			opacity: 0.9;
		}
		.submitButton
		{
			position: absolute;
			display:block;
			text-align:center;
			right: 3%;
			top:36%;
			height: 7%;
			width:5%;
            font-size: 100%;
			color: black;
			opacity: 0.9;
			background-color: Cyan;
		}

       .submitButton:hover
       {
          background-color: Darkcyan;
          
       } 





